span.odd_number{
    background: none;
    border: 1px solid red;
    padding: 0px 14px;
    border-radius: 50%;
    font-size: 26px;
    position: absolute;
    left: -20px;
    top: -30px;
}
span.event_number{
    background: none;
    border: 1px solid red;
    padding: 0px 14px;
    border-radius: 50%;
    font-size: 26px;
    position: absolute;
    right: -25px;
    top: -50px;
}

card-body img{
    position: relative;
}
.profiletimeline .sl-left img, .steamline .sl-left img {
    max-width: 80px!important;
    transform: translate(-20px, 10px)!important;
}

 .nav-link {
    display: block;
    padding: 2px 1rem;
}
  header nav .active {
    color: #6cb2eb !important;
    border: 1px solid #6cb2eb;
    border-radius: 5%;
    padding: 2px 12px !important;
    display: inline-block;
}