span.odd_number{
    background: none;
    border: 1px solid red;
    padding: 0px 14px;
    border-radius: 50%;
    font-size: 26px;
    position: absolute;
    left: -20px;
    top: -30px;
}
span.event_number{
    background: none;
    border: 1px solid red;
    padding: 0px 14px;
    border-radius: 50%;
    font-size: 26px;
    position: absolute;
    right: -25px;
    top: -50px;
}

card-body img{
    position: relative;
}